<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Political Stance Analyzer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'PoliticalAdvisor/style.css' %}">
</head>

<body>


    <main class="main-container">
        {% block content %}{% endblock %}
    </main>



    {% block scripts %}{% endblock %}
</body>
</html>