

{% extends "PoliticalAdvisor/base.html" %}
{% load static %}

{% block app_content %}




  <div class="dropdown">
    <button type="button" id="languageSelector" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
      Select language
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#" onclick="changeLanguage('en')">English</a></li>
      <li><a class="dropdown-item" href="#" onclick="changeLanguage('de')">German</a></li>
    </ul>
  </div>



    <div class="chat-container">

        <!-- Message Window -->
        <div class="message-window" id="messageWindow">
            <!-- Messages will be displayed here -->
            <!-- Citation Modal -->
            <div id="citationModal" class="modal">
                <div class="modal-content">
                <span class="close-btn" onclick="closeCitationModal()">&times;</span>
                <h3 id="modal-title"></h3>
                <div id="citationCarousel" class="carousel-container"></div>
            </div>
    </div>
        </div>

        <!-- Chat Input Box -->
        <div class="chat-window">
            <input type="text" id="userInput" placeholder="{{ lang_context.message_prompt }}">
            <button class="btn btn-outline-dark" onclick="sendUserInput()">{{ lang_context.button_text }}</button>
        </div>
    </div>


{% endblock %}

{% block scripts %}

    <!-- define the URL for the AJAX request -->
    <script> var analyzeUserInputUrl = "{% url 'analyze_user_input' %}";</script>
    <script>
            var languageContext = {
                tableTitle: "{{ lang_context.table_title|escapejs }}",
                citationsTitle: "{{ lang_context.citations_title|escapejs }}"
        };

    </script>

    <!-- load the scripts.js file -->
    <script src="{% static 'PoliticalAdvisor/scripts.js' %}"></script>
{% endblock %}