
{% extends "PoliticalAdvisor/base.html" %}
{% load static %}

{% block content %}
    <h1>
        Political Advisor
    </h1>

    <div class="row">
    <div class="col-sm-6 index-text">
    Welcome to Political Advisor, a web application designed to help you identify
    the political party that best aligns with your views.
    <br><br>
    Political statements are often complex, contradictory, and difficult to interpret,
    making it challenging to determine which party truly represents your beliefs.
    While tools like Wahl-O-Mat assist voters in making informed choices,
    they are not always accessible or up to date.
    <br><br>
    AI and machine learning-based tools can offer a more personalized
    and precise assessment of your political stance. However, AI systems inherently
    work by approximation, meaning they can only estimate which party
    might be closest to your views. Additionally, AI can sometimes hallucinate
    (generate incorrect or misleading information) and may not always
    grasp the full context of every statement.
    <br><br>
    To address this, we developed Political Advisor,
    which helps you find the party that aligns best with your views
    while also allowing you to explore relevant sections of official party programs.
    This gives you AI genereated and direct visibility into the party's stance on key issues.
    <br><br>
    To begin, click the “Start” button below.
    </div>
    <div class="col-sm-6 index-text">
    Willkommen beim Political Advisor, einer Webanwendung, die Ihnen hilft, die politische Partei zu finden, die am besten zu Ihren Ansichten passt.

    Politische Aussagen sind oft komplex, widersprüchlich und schwer zu interpretieren, was es schwierig macht, herauszufinden, welche Partei Ihre Überzeugungen wirklich vertritt. Während Tools wie der Wahl-O-Mat Wählerinnen und Wählern bei der Entscheidungsfindung helfen, sind sie nicht immer verfügbar oder aktuell.

    KI-gestützte Werkzeuge können eine individuellere und präzisere Einschätzung Ihrer politischen Haltung ermöglichen. Allerdings arbeitet Künstliche Intelligenz grundsätzlich mit Näherungen, das heißt, sie kann nur abschätzen, welche Partei Ihren Ansichten am ehesten entspricht. Zudem können KI-Systeme manchmal halluzinieren (falsche oder irreführende Informationen generieren) und nicht immer den vollständigen Kontext jeder Aussage erfassen.

    Deshalb haben wir den Political Advisor entwickelt – ein Tool, das Ihnen hilft, die Partei zu finden, die Ihre Ansichten am besten widerspiegelt, und gleichzeitig ermöglicht, relevante Abschnitte der offiziellen Parteiprogramme zu lesen.

    Klicken Sie auf die Schaltfläche “Start”, um zu beginnen.
    </div>
    </div>




{% endblock %}