

{% extends "PoliticalAdvisor/base.html" %}
{% load static %}

{% block content %}

    <h1>
        Statement Matcher
    </h1>

    <!-- Create a container with headline, input field and button -->
    <div class="chat-container">
        <h2>Chatbot</h2>
        <div class="chat-box" id="chat-box"></div>
        <input type="text" id="user-input" placeholder="Type a message...">
        <button onclick="sendUserInput()">Send</button>
    </div>

{% endblock %}

{% block scripts %}

    <!-- define the URL for the AJAX request -->
    <script> var analyzeUserInputUrl = "{% url 'analyze_user_input' %}";</script>

    <!-- load the scripts.js file -->
    <script src="{% static 'PoliticalAdvisor/scripts.js' %}"></script>
{% endblock %}