

{% extends "PoliticalAdvisor/base.html" %}
{% load static %}

{% block content %}

    <h1>
        Statement Matcher
    </h1>

    <div class="chat-container">
        <!-- Message Window -->
        <div class="message-window" id="messageWindow">
            <!-- Messages will be displayed here -->
        </div>

        <!-- Chat Input Box -->
        <div class="chat-window">
            <input type="text" id="userInput" placeholder="Geben Sie eine politische Aussage ein die Ihnen wichtig ist ....">
            <button onclick="sendUserInput()">Versenden</button>
        </div>
    </div>


{% endblock %}

{% block scripts %}

    <!-- define the URL for the AJAX request -->
    <script> var analyzeUserInputUrl = "{% url 'analyze_user_input' %}";</script>

    <!-- load the scripts.js file -->
    <script src="{% static 'PoliticalAdvisor/scripts.js' %}"></script>
{% endblock %}