.navbar-pa {
    background-color: #3c3c45 !important;
    color: #fff !important;
}

.navbar {
    z-index: 1030; /* Ensures the navbar stays on top */
}

/* ✅ Sidebar */
.sidebar {
    height: calc(100vh - 56px); /* Full height minus navbar height */
    width: 250px;
    position: fixed;
    top: 56px; /* Push down below navbar */
    left: 0;
    background-color: #f8f9fa;
    padding-top: 20px;
    transition: all 0.3s ease;
}

.sidebar .nav-link {
    color: #333;
    font-size: 18px;
    padding: 10px 15px;
}

.sidebar .nav-link:hover {
    background-color: #ddd;
    border-radius: 5px;
}

/* ✅ Content Area */
.content {
    margin-left: 260px; /* Push main content to the right */
    padding: 20px;
    transition: margin-left 0.3s;
}

/* ✅ Sidebar Collapsed */
.collapsed .sidebar {
    width: 0;
    padding: 0;
    overflow: hidden;
}

.collapsed .content {
    margin-left: 0;
}

.modal {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    /*overflow: auto;*/
    background-color: rgba(214, 214, 214, 0.76);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    width: 90%;
    height: 80%;
    flex-direction: column;
    text-align: center;
    /*overflow: auto;*/
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

/* Carousel Styles */
.carousel-container {
    width: 100%;
    overflow-y: auto;

}

.carousel-item {
    display: none;
    overflow-y: auto;
    padding: 10px;
    text-align: center;
}
.citation-text {
    text-align: justify;

}

.carousel-item.active {
    display: block;
}

.carousel-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.carousel-control-prev, .carousel-control-next {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}